@model SanjivaniModalView.TicketCount

<div class="col-lg-2 col-6">
    <!-- small box -->
    <div class="small-box bg-info">
        <div class="inner">
            <h3>@Model.TotalTicket</h3>

            <a href="@Url.Action("ChannaPartnerList","Partner")" class="small-box-footer"><p style="color:white">Total Ticket</p></a>
        </div>
        <div class="icon">
            <i class="ion ion-bag"></i>
        </div>

    </div>

</div>
<!-- ./col -->
<div class="col-lg-2 col-6">
    <!-- small box -->
    <div class="small-box bg-success">
        <div class="inner">
            <h3>@Model.Ticketpool</h3>

            <a href="@Url.Action("ChannaPartnerList","Partner")" class="small-box-footer"><p style="color:white">Ticket Pool</p></a>
        </div>
        <div class="icon">
            <i class="ion ion-stats-bars"></i>
        </div>

    </div>
</div>
<!-- ./col -->
<div class="col-lg-2 col-6">
    <!-- small box -->
    <div class="small-box bg-warning">
        <div class="inner">
            <h3>0</h3>

            <a href="@Url.Action("ChannaPartnerList","Partner")" class="small-box-footer"><p style="color:white">User Ticket Closed</p></a>
        </div>
        <div class="icon">
            <i class="ion ion-person-add"></i>
        </div>

    </div>
</div>
<!-- ./col -->
<div class="col-lg-2 col-6">
    <!-- small box -->
    <div class="small-box bg-danger">
        <div class="inner">
            <h3>@Model.Compliaint</h3>

            <a href="@Url.Action("ChannaPartnerList","Partner")" class="small-box-footer"><p style="color:white">User Tickets Ans.</p></a>
        </div>
        <div class="icon">
            <i class="ion ion-pie-graph"></i>
        </div>

    </div>
</div>

<div class="col-lg-2 col-6">
    <!-- small box -->
    <div class="small-box bg-warning">
        <div class="inner">
            <h3>@Model.SystemTicketClose</h3>

            <a href="@Url.Action("ChannaPartnerList","Partner")" class="small-box-footer"><p style="color:white">System Ticket Closed</p></a>
        </div>
        <div class="icon">
            <i class="ion ion-person-add"></i>
        </div>

    </div>
</div>

<div class="col-lg-2 col-6">
    <!-- small box -->
    <div class="small-box bg-info">
        <div class="inner">
            <h3>@Model.Sales</h3>

            <a href="@Url.Action("ChannaPartnerList","Partner")" class="small-box-footer"><p style="color:white">Sales</p></a>
</div>
        <div class="icon">
            <i class="ion ion-bag"></i>
        </div>
       
    </div>

</div>
<!-- ./col -->
<div class="col-lg-2 col-6">
    <!-- small box -->
    <div class="small-box bg-success">
        <div class="inner">
            <h3>@Model.Billing</h3>

            <a href="@Url.Action("ChannaPartnerList","Partner")" class="small-box-footer"><p style="color:white">Billing</p></a>
        </div>
        <div class="icon">
            <i class="ion ion-stats-bars"></i>
        </div>
        
    </div>
</div>
<!-- ./col -->
<div class="col-lg-2 col-6">
    <!-- small box -->
    <div class="small-box bg-warning">
        <div class="inner">
            <h3>@Model.Techanical</h3>

            <a href="@Url.Action("ChannaPartnerList","Partner")" class="small-box-footer"><p style="color:white">Technical</p></a>
        </div>
        <div class="icon">
            <i class="ion ion-person-add"></i>
        </div>
    
    </div>
</div>
<!-- ./col -->
<div class="col-lg-2 col-6">
    <!-- small box -->
    <div class="small-box bg-danger">
        <div class="inner">
            <h3>@Model.Compliaint</h3>

            <a href="@Url.Action("ChannaPartnerList","Partner")" class="small-box-footer"><p style="color:white">Compliant</p></a>
        </div>
        <div class="icon">
            <i class="ion ion-pie-graph"></i>
        </div>
        
    </div>
</div>

<div class="col-lg-2 col-6">
    <!-- small box -->
    <div class="small-box bg-success">
        <div class="inner">
            <h3>@Model.Openticket</h3>

            <a href="@Url.Action("ChannaPartnerList","Partner")" class="small-box-footer"><p style="color:white">Open Tickets</p></a>
        </div>
        <div class="icon">
            <i class="ion ion-stats-bars"></i>
        </div>

    </div>
</div>
<!-- ./col -->
<div class="col-lg-2 col-6">
    <!-- small box -->
    <div class="small-box bg-warning">
        <div class="inner">
            <h3>0</h3>

            <a href="@Url.Action("ChannaPartnerList","Partner")" class="small-box-footer"><p style="color:white">WIP</p></a>
        </div>
        <div class="icon">
            <i class="ion ion-person-add"></i>
        </div>

    </div>
</div>
<!-- ./col -->
<div class="col-lg-2 col-6">
    <!-- small box -->
    <div class="small-box bg-danger">
        <div class="inner">
            <h3>0</h3>

            <a href="@Url.Action("ChannaPartnerList","Partner")" class="small-box-footer"><p style="color:white">Customer Reply</p></a>
        </div>
        <div class="icon">
            <i class="ion ion-pie-graph"></i>
        </div>

    </div>
</div>
